In [1]:
import pandas as pd
import os
import geopandas as gpd

In [2]:
balita_df = pd.read_csv('../datasets/merged_dataset.csv')
balita_df.head()

,nama_kabupaten_kota,tahun,indeks_keparahan_kemiskinan,indeks_kedalaman_kemiskinan,persentase_penduduk_miskin,indeks_kesehatan,indeks_pembangunan_manusia,persentase_penduduk_mempunyai_keluhan_kesehatan,jumlah_ibu_hamil,jumlah_ibu_hamil_konseling_gizi,...,jumlah_kasus_tetanus_neonatarum,jumlah_anak_usia_0-23_bulan,jumlah_anak_0-23_terdaftar_jaminan_kesehatan,jumlah_anak_0-23_pertumbuhan_hijau,jumlah_anak_0-23_pertumbuhan_kuning,jumlah_anak_0-23_pertumbuhan_merah,jumlah_balita_gizi_kurang,jumlah_balita_stunting,persentase_balita_stunting,jumlah_kejadian_kematian_balita
0,KABUPATEN BOGOR,2010-01-01,NaN,NaN,NaN,77.43,64.35,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KABUPATEN SUKABUMI,2010-01-01,NaN,NaN,NaN,76.10,60.69,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KABUPATEN CIANJUR,2010-01-01,NaN,NaN,NaN,75.02,58.58,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KABUPATEN BANDUNG,2010-01-01,NaN,NaN,NaN,81.44,67.28,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KABUPATEN GARUT,2010-01-01,NaN,NaN,NaN,77.44,60.23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
balita_df.columns

Index(['nama_kabupaten_kota', 'tahun', 'indeks_keparahan_kemiskinan',
       'indeks_kedalaman_kemiskinan', 'persentase_penduduk_miskin',
       'indeks_kesehatan', 'indeks_pembangunan_manusia',
       'persentase_penduduk_mempunyai_keluhan_kesehatan', 'jumlah_ibu_hamil',
       'jumlah_ibu_hamil_konseling_gizi',
       'jumlah_ibu_hamil_dengan_akses_air_minum_aman',
       'jumlah_ibu_hamil_dengan_akses_jamban_layak',
       'jumlah_ibu_hamil_dengan_jaminan_kesehatan',
       'jumlah_ibu_hamil_periksa_4_kali',
       'jumlah_sasaran_konvergensi_ibu_hamil',
       'jumlah_realisasi_konvergensi_ibu_hamil', 'jumlah_ibu_hamil_anemia',
       'jumlah_ibu_hamil_mengalami_kek',
       'jumlah_ibu_hamil_kek_dapat_kunjungan', 'kumulatif_kek',
       'kumulatif_kunjungan_kek', 'jumlah_ibu_hamil_resti',
       'jumlah_ibu_hamil_resti_kunjungan', 'kumulatif_resti',
       'kumulatif_kunjungan_resti',
       'jumlah_kejadian_kematian_ibu_saat_persalinan_x',
       'persentase_persalinan_di_fasyankes',
       'persentase_persalinan_ditolong_nakes',
       'jumlah_kejadian_kematian_ibu_saat_persalinan_y',
       'jumlah_desa_dengan_rumah_singgah', 'jumlah_desa_tanpa_rumah_singgah',
       'jumlah_bayi_dapat_imunisasi_bcg',
       'jumlah_bayi_dapat_imunisasi_dasar_lengkap',
       'persentase_pemberian_asi_eksklusif', 'jumlah_bayi_bblr_2016_2021',
       'jumlah_bayi_lahir_tanpa_bblr_2019', 'jumlah_bayi_bblr_2019',
       'jumlah_kematian_bayi_bblr_2019', 'jumlah_bayi_lahir',
       'jumlah_balita_gizi_kurang_2019', 'jumlah_balita_kurus_2019',
       'jumlah_balita_pendek_2019', 'kasus_diare_terlayani',
       'penemuan_kasus_pneumonia', 'kasus_pneumonia_berat',
       'jumlah_kematian_kasus_pneumonia', 'jumlah_perkiraan_kasus_pneumonia',
       'jumlah_kasus_difteri', 'jumlah_kasus_hepatitis_b',
       'jumlah_kasus_pertusis', 'jumlah_kasus_suspek_campak',
       'jumlah_kasus_tetanus_neonatarum', 'jumlah_anak_usia_0-23_bulan',
       'jumlah_anak_0-23_terdaftar_jaminan_kesehatan',
       'jumlah_anak_0-23_pertumbuhan_hijau',
       'jumlah_anak_0-23_pertumbuhan_kuning',
       'jumlah_anak_0-23_pertumbuhan_merah', 'jumlah_balita_gizi_kurang',
       'jumlah_balita_stunting', 'persentase_balita_stunting',
       'jumlah_kejadian_kematian_balita'],
      dtype='object')

In [4]:
cols = ['nama_kabupaten_kota','tahun','jumlah_anak_usia_0-23_bulan',
       'jumlah_anak_0-23_terdaftar_jaminan_kesehatan',
       'jumlah_anak_0-23_pertumbuhan_hijau',
       'jumlah_anak_0-23_pertumbuhan_kuning',
       'jumlah_anak_0-23_pertumbuhan_merah',
       'jumlah_balita_stunting', 'persentase_balita_stunting',
       'penemuan_kasus_pneumonia', 'kasus_pneumonia_berat',
       'jumlah_kematian_kasus_pneumonia', 'jumlah_perkiraan_kasus_pneumonia',
       'jumlah_balita_gizi_kurang_2019', 'jumlah_balita_kurus_2019',
       'jumlah_balita_pendek_2019','jumlah_balita_gizi_kurang']

In [5]:
balita_df_filter = balita_df[cols]
balita_df_filter.head()

,nama_kabupaten_kota,tahun,jumlah_anak_usia_0-23_bulan,jumlah_anak_0-23_terdaftar_jaminan_kesehatan,jumlah_anak_0-23_pertumbuhan_hijau,jumlah_anak_0-23_pertumbuhan_kuning,jumlah_anak_0-23_pertumbuhan_merah,jumlah_balita_stunting,persentase_balita_stunting,penemuan_kasus_pneumonia,kasus_pneumonia_berat,jumlah_kematian_kasus_pneumonia,jumlah_perkiraan_kasus_pneumonia,jumlah_balita_gizi_kurang_2019,jumlah_balita_kurus_2019,jumlah_balita_pendek_2019,jumlah_balita_gizi_kurang
0,KABUPATEN BOGOR,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KABUPATEN SUKABUMI,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KABUPATEN CIANJUR,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KABUPATEN BANDUNG,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KABUPATEN GARUT,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
balita_df_filter['kab/kota'] = balita_df_filter['nama_kabupaten_kota'].apply(lambda x: x.title().replace('Kabupaten','').strip())
balita_df_filter.head()

C:\Users\EBDESK\AppData\Local\Temp\ipykernel_5464\846018426.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  balita_df_filter['kab/kota'] = balita_df_filter['nama_kabupaten_kota'].apply(lambda x: x.title().replace('Kabupaten','').strip())

,nama_kabupaten_kota,tahun,jumlah_anak_usia_0-23_bulan,jumlah_anak_0-23_terdaftar_jaminan_kesehatan,jumlah_anak_0-23_pertumbuhan_hijau,jumlah_anak_0-23_pertumbuhan_kuning,jumlah_anak_0-23_pertumbuhan_merah,jumlah_balita_stunting,persentase_balita_stunting,penemuan_kasus_pneumonia,kasus_pneumonia_berat,jumlah_kematian_kasus_pneumonia,jumlah_perkiraan_kasus_pneumonia,jumlah_balita_gizi_kurang_2019,jumlah_balita_kurus_2019,jumlah_balita_pendek_2019,jumlah_balita_gizi_kurang,kab/kota
0,KABUPATEN BOGOR,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bogor
1,KABUPATEN SUKABUMI,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sukabumi
2,KABUPATEN CIANJUR,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cianjur
3,KABUPATEN BANDUNG,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bandung
4,KABUPATEN GARUT,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Garut

In [7]:
balita_df_filter.to_csv('../datasets/ready/balita_data.csv',index=False)

### Balita Stunting

In [8]:
balita_stunting = balita_df_filter[['nama_kabupaten_kota','kab/kota','tahun']].copy()
balita_stunting['keterangan'] = 'Balita Stunting'
balita_stunting['total'] = balita_df_filter['jumlah_balita_stunting']
display(balita_stunting.head())
balita_stunting.to_csv('../datasets/ready/balita_stunting.csv',index=False)

  nama_kabupaten_kota  kab/kota       tahun       keterangan  total
0     KABUPATEN BOGOR     Bogor  2010-01-01  Balita Stunting    NaN
1  KABUPATEN SUKABUMI  Sukabumi  2010-01-01  Balita Stunting    NaN
2   KABUPATEN CIANJUR   Cianjur  2010-01-01  Balita Stunting    NaN
3   KABUPATEN BANDUNG   Bandung  2010-01-01  Balita Stunting    NaN
4     KABUPATEN GARUT     Garut  2010-01-01  Balita Stunting    NaN

### Balita 0-23 bulan

In [9]:
balita_pertumbuhan = balita_df_filter[['nama_kabupaten_kota', 'kab/kota', 'tahun', 'jumlah_anak_usia_0-23_bulan', 'jumlah_anak_0-23_terdaftar_jaminan_kesehatan', 'jumlah_anak_0-23_pertumbuhan_hijau', 'jumlah_anak_0-23_pertumbuhan_kuning', 'jumlah_anak_0-23_pertumbuhan_merah']].copy()
balita_pertumbuhan.tail()

,nama_kabupaten_kota,kab/kota,tahun,jumlah_anak_usia_0-23_bulan,jumlah_anak_0-23_terdaftar_jaminan_kesehatan,jumlah_anak_0-23_pertumbuhan_hijau,jumlah_anak_0-23_pertumbuhan_kuning,jumlah_anak_0-23_pertumbuhan_merah
321,KOTA CIMAHI,Kota Cimahi,2021-01-01,NaN,NaN,NaN,NaN,NaN
322,KOTA TASIKMALAYA,Kota Tasikmalaya,2021-01-01,NaN,NaN,NaN,NaN,NaN
323,KOTA BANJAR,Kota Banjar,2019-01-01,NaN,NaN,NaN,NaN,NaN
324,KOTA BANJAR,Kota Banjar,2020-01-01,NaN,NaN,NaN,NaN,NaN
325,KOTA BANJAR,Kota Banjar,2021-01-01,3004.0,1378.0,2788.0,NaN,83.0

In [10]:
balita_pertumbuhan_total = balita_pertumbuhan[['nama_kabupaten_kota','tahun','kab/kota']].copy()
balita_pertumbuhan_total['keterangan'] = 'Total Anak 0-23 Bulan'
balita_pertumbuhan_total['total'] = balita_pertumbuhan['jumlah_anak_usia_0-23_bulan'].copy()

balita_pertumbuhan_hijau = balita_pertumbuhan[['nama_kabupaten_kota','tahun','kab/kota']].copy()
balita_pertumbuhan_hijau['keterangan'] = 'Pertumbuhan Hijau'
balita_pertumbuhan_hijau['total'] = balita_pertumbuhan['jumlah_anak_0-23_pertumbuhan_hijau'].copy()
balita_pertumbuhan_hijau

balita_pertumbuhan_kuning = balita_pertumbuhan[['nama_kabupaten_kota','tahun','kab/kota']].copy()
balita_pertumbuhan_kuning['keterangan'] = 'Pertumbuhan Kuning'
balita_pertumbuhan_kuning['total'] = balita_pertumbuhan['jumlah_anak_0-23_pertumbuhan_kuning'].copy()

balita_pertumbuhan_merah = balita_pertumbuhan[['nama_kabupaten_kota','tahun','kab/kota']].copy()
balita_pertumbuhan_merah['keterangan'] = 'Pertumbuhan Merah'
balita_pertumbuhan_merah['total'] = balita_pertumbuhan['jumlah_anak_0-23_pertumbuhan_merah'].copy()
balita_pertumbuhan_merah

,nama_kabupaten_kota,tahun,kab/kota,keterangan,total
0,KABUPATEN BOGOR,2010-01-01,Bogor,Pertumbuhan Merah,NaN
1,KABUPATEN SUKABUMI,2010-01-01,Sukabumi,Pertumbuhan Merah,NaN
2,KABUPATEN CIANJUR,2010-01-01,Cianjur,Pertumbuhan Merah,NaN
3,KABUPATEN BANDUNG,2010-01-01,Bandung,Pertumbuhan Merah,NaN
4,KABUPATEN GARUT,2010-01-01,Garut,Pertumbuhan Merah,NaN
...,...,...,...,...,...
321,KOTA CIMAHI,2021-01-01,Kota Cimahi,Pertumbuhan Merah,NaN
322,KOTA TASIKMALAYA,2021-01-01,Kota Tasikmalaya,Pertumbuhan Merah,NaN
323,KOTA BANJAR,2019-01-01,Kota Banjar,Pertumbuhan Merah,NaN
324,KOTA BANJAR,2020-01-01,Kota Banjar,Pertumbuhan Merah,NaN
325,KOTA BANJAR,2021-01-01,Kota Banjar,Pertumbuhan Merah,83.0

In [11]:
balita_0_23 = pd.concat([balita_pertumbuhan_total, balita_pertumbuhan_hijau, balita_pertumbuhan_kuning, balita_pertumbuhan_merah]).reset_index(drop=True)
balita_0_23

,nama_kabupaten_kota,tahun,kab/kota,keterangan,total
0,KABUPATEN BOGOR,2010-01-01,Bogor,Total Anak 0-23 Bulan,NaN
1,KABUPATEN SUKABUMI,2010-01-01,Sukabumi,Total Anak 0-23 Bulan,NaN
2,KABUPATEN CIANJUR,2010-01-01,Cianjur,Total Anak 0-23 Bulan,NaN
3,KABUPATEN BANDUNG,2010-01-01,Bandung,Total Anak 0-23 Bulan,NaN
4,KABUPATEN GARUT,2010-01-01,Garut,Total Anak 0-23 Bulan,NaN
...,...,...,...,...,...
1299,KOTA CIMAHI,2021-01-01,Kota Cimahi,Pertumbuhan Merah,NaN
1300,KOTA TASIKMALAYA,2021-01-01,Kota Tasikmalaya,Pertumbuhan Merah,NaN
1301,KOTA BANJAR,2019-01-01,Kota Banjar,Pertumbuhan Merah,NaN
1302,KOTA BANJAR,2020-01-01,Kota Banjar,Pertumbuhan Merah,NaN
1303,KOTA BANJAR,2021-01-01,Kota Banjar,Pertumbuhan Merah,83.0

In [12]:
balita_0_23.to_csv('../datasets/ready/balita_0-23_bulan.csv',index=False)

### Balita Pneumonia

In [13]:
balita_pneumonia = balita_df_filter[['nama_kabupaten_kota','kab/kota','tahun','jumlah_balita_stunting']].copy()


balita_pneumonia_kasus = balita_pneumonia[['nama_kabupaten_kota','tahun','kab/kota']].copy()
balita_pneumonia_kasus['keterangan'] = 'Balita Stunting'
balita_pneumonia_kasus['total'] = balita_pneumonia['jumlah_balita_stunting'].copy()
balita_pneumonia_kasus

    nama_kabupaten_kota       tahun          kab/kota       keterangan   total
0       KABUPATEN BOGOR  2010-01-01             Bogor  Balita Stunting     NaN
1    KABUPATEN SUKABUMI  2010-01-01          Sukabumi  Balita Stunting     NaN
2     KABUPATEN CIANJUR  2010-01-01           Cianjur  Balita Stunting     NaN
3     KABUPATEN BANDUNG  2010-01-01           Bandung  Balita Stunting     NaN
4       KABUPATEN GARUT  2010-01-01             Garut  Balita Stunting     NaN
..                  ...         ...               ...              ...     ...
321         KOTA CIMAHI  2021-01-01       Kota Cimahi  Balita Stunting  3161.0
322    KOTA TASIKMALAYA  2021-01-01  Kota Tasikmalaya  Balita Stunting  6194.0
323        KOTA BANJAR   2019-01-01       Kota Banjar  Balita Stunting     NaN
324        KOTA BANJAR   2020-01-01       Kota Banjar  Balita Stunting     NaN
325         KOTA BANJAR  2021-01-01       Kota Banjar  Balita Stunting   929.0

[326 rows x 5 columns]

In [14]:
balita_pneumonia = balita_df_filter[['nama_kabupaten_kota','kab/kota','tahun','penemuan_kasus_pneumonia', 
                                     'kasus_pneumonia_berat','jumlah_kematian_kasus_pneumonia', 
                                     'jumlah_perkiraan_kasus_pneumonia']].copy()


balita_pneumonia_kasus = balita_pneumonia[['nama_kabupaten_kota','tahun','kab/kota']].copy()
balita_pneumonia_kasus['keterangan'] = 'Penemuan Kasus Pneumonia'
balita_pneumonia_kasus['total'] = balita_pneumonia['penemuan_kasus_pneumonia'].copy()

balita_pneumonia_berat = balita_pneumonia[['nama_kabupaten_kota','tahun','kab/kota']].copy()
balita_pneumonia_berat['keterangan'] = 'Kasus Pneumonia Berat'
balita_pneumonia_berat['total'] = balita_pneumonia['kasus_pneumonia_berat'].copy()

balita_pneumonia_mati = balita_pneumonia[['nama_kabupaten_kota','tahun','kab/kota']].copy()
balita_pneumonia_mati['keterangan'] = 'Kematian Akibat Pneumonia'
balita_pneumonia_mati['total'] = balita_pneumonia['jumlah_kematian_kasus_pneumonia'].copy()

balita_pneumonia_kira = balita_pneumonia[['nama_kabupaten_kota','tahun','kab/kota']].copy()
balita_pneumonia_kira['keterangan'] = 'Perkiraan Kasus Pneumonia'
balita_pneumonia_kira['total'] = balita_pneumonia['jumlah_perkiraan_kasus_pneumonia'].copy()

balita_pneumonia_new = pd.concat([balita_pneumonia_kasus, balita_pneumonia_berat, balita_pneumonia_mati, balita_pneumonia_kira]).reset_index(drop=True)
balita_pneumonia_new

,nama_kabupaten_kota,tahun,kab/kota,keterangan,total
0,KABUPATEN BOGOR,2010-01-01,Bogor,Penemuan Kasus Pneumonia,NaN
1,KABUPATEN SUKABUMI,2010-01-01,Sukabumi,Penemuan Kasus Pneumonia,NaN
2,KABUPATEN CIANJUR,2010-01-01,Cianjur,Penemuan Kasus Pneumonia,NaN
3,KABUPATEN BANDUNG,2010-01-01,Bandung,Penemuan Kasus Pneumonia,NaN
4,KABUPATEN GARUT,2010-01-01,Garut,Penemuan Kasus Pneumonia,NaN
...,...,...,...,...,...
1299,KOTA CIMAHI,2021-01-01,Kota Cimahi,Perkiraan Kasus Pneumonia,NaN
1300,KOTA TASIKMALAYA,2021-01-01,Kota Tasikmalaya,Perkiraan Kasus Pneumonia,NaN
1301,KOTA BANJAR,2019-01-01,Kota Banjar,Perkiraan Kasus Pneumonia,NaN
1302,KOTA BANJAR,2020-01-01,Kota Banjar,Perkiraan Kasus Pneumonia,NaN
1303,KOTA BANJAR,2021-01-01,Kota Banjar,Perkiraan Kasus Pneumonia,NaN

In [15]:
balita_pneumonia_new.to_csv('../datasets/ready/balita_pneumonia.csv',index=False)

### Gizi Balita

In [16]:
balita_gizi = balita_df_filter[['nama_kabupaten_kota','kab/kota','tahun', 'jumlah_balita_kurus_2019', 
                                'jumlah_balita_pendek_2019', 'jumlah_balita_gizi_kurang']].copy()


balita_gizi_kurang = balita_gizi[['nama_kabupaten_kota','tahun','kab/kota']].copy()
balita_gizi_kurang['keterangan'] = 'Gizi Kurang'
balita_gizi_kurang['total'] = balita_gizi['jumlah_balita_gizi_kurang'].copy()

balita_gizi_pendek = balita_gizi[['nama_kabupaten_kota','tahun','kab/kota']].copy()
balita_gizi_pendek['keterangan'] = 'Balita Pendek'
balita_gizi_pendek['total'] = balita_gizi['jumlah_balita_pendek_2019'].copy()

balita_gizi_kurus = balita_gizi[['nama_kabupaten_kota','tahun','kab/kota']].copy()
balita_gizi_kurus['keterangan'] = 'Balita Kurus'
balita_gizi_kurus['total'] = balita_gizi['jumlah_balita_kurus_2019'].copy()

balita_gizi_new = pd.concat([balita_gizi_kurang, balita_gizi_pendek, balita_gizi_kurus]).reset_index(drop=True)
balita_gizi_new

    nama_kabupaten_kota       tahun          kab/kota    keterangan  total
0       KABUPATEN BOGOR  2010-01-01             Bogor   Gizi Kurang    NaN
1    KABUPATEN SUKABUMI  2010-01-01          Sukabumi   Gizi Kurang    NaN
2     KABUPATEN CIANJUR  2010-01-01           Cianjur   Gizi Kurang    NaN
3     KABUPATEN BANDUNG  2010-01-01           Bandung   Gizi Kurang    NaN
4       KABUPATEN GARUT  2010-01-01             Garut   Gizi Kurang    NaN
..                  ...         ...               ...           ...    ...
973         KOTA CIMAHI  2021-01-01       Kota Cimahi  Balita Kurus    NaN
974    KOTA TASIKMALAYA  2021-01-01  Kota Tasikmalaya  Balita Kurus    NaN
975        KOTA BANJAR   2019-01-01       Kota Banjar  Balita Kurus    NaN
976        KOTA BANJAR   2020-01-01       Kota Banjar  Balita Kurus    NaN
977         KOTA BANJAR  2021-01-01       Kota Banjar  Balita Kurus    NaN

[978 rows x 5 columns]

In [18]:
balita_gizi_new.to_csv('../datasets/ready/balita_gizi.csv',index=False)

### Menggabungkan semua data terkait balita

In [19]:
df1 = pd.read_csv('../datasets/ready/balita_0-23_bulan.csv')
df2 = pd.read_csv('../datasets/ready/balita_stunting.csv')
df3 = pd.read_csv('../datasets/ready/balita_gizi.csv')
df4 = pd.read_csv('../datasets/ready/balita_pneumonia.csv')

In [20]:
df = pd.concat([df1,df2,df3,df4]).reset_index(drop=True)
df

,nama_kabupaten_kota,tahun,kab/kota,keterangan,total
0,KABUPATEN BOGOR,2010-01-01,Bogor,Total Anak 0-23 Bulan,NaN
1,KABUPATEN SUKABUMI,2010-01-01,Sukabumi,Total Anak 0-23 Bulan,NaN
2,KABUPATEN CIANJUR,2010-01-01,Cianjur,Total Anak 0-23 Bulan,NaN
3,KABUPATEN BANDUNG,2010-01-01,Bandung,Total Anak 0-23 Bulan,NaN
4,KABUPATEN GARUT,2010-01-01,Garut,Total Anak 0-23 Bulan,NaN
...,...,...,...,...,...
3907,KOTA CIMAHI,2021-01-01,Kota Cimahi,Perkiraan Kasus Pneumonia,NaN
3908,KOTA TASIKMALAYA,2021-01-01,Kota Tasikmalaya,Perkiraan Kasus Pneumonia,NaN
3909,KOTA BANJAR,2019-01-01,Kota Banjar,Perkiraan Kasus Pneumonia,NaN
3910,KOTA BANJAR,2020-01-01,Kota Banjar,Perkiraan Kasus Pneumonia,NaN
3911,KOTA BANJAR,2021-01-01,Kota Banjar,Perkiraan Kasus Pneumonia,NaN

In [21]:
df.to_csv('../datasets/ready/balita_all.csv',index=False)